{% extends "layouts/base.html" %}
{% block content %}
  <div class="mt-3 text-dark">
    <h1>
      Dish Types List
      <a href="{% url 'menu:dish-type-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    <ul>
    {% if dish_type_list %}
      {% for dish_type in dish_type_list %}
        <li>
          <a href="{% url "menu:dish-type-detail" pk=dish_type.id %} ">{{ dish_type }}</a>
        </li>
      {% endfor %}
    {% else %}
      <p>There are no dish types in Restaurant.</p>
    {% endif %}
    </ul>
  </div>
{% endblock %}
