{% extends "layouts/base.html" %}

{% block content %}
  <div class="mt-3 text-dark">
    <h1>
      Ingredients List
      <a href="{% url 'menu:ingredient-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    <ul>
      {% if ingredient_list%}
        {% for ingredient in ingredient_list %}
          <li>
            <a href="{% url "menu:ingredient-detail" pk=ingredient.id %} ">{{ ingredient.ingredient_name }}</a>
          </li>
        {% endfor %}
      {% else %}
        <p>There are no ingredients in Restaurant.</p>
      {% endif %}
    </ul>
  </div>
{% endblock %}
