{% extends "layouts/base.html" %}

{% block content %}
  <div class="mt-3 text-dark">
    <h1>
      Specializations List
      <a href="{% url 'menu:specialization-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    <ul>
    {% if specialization_list%}
      {% for specialization in specialization_list %}
        <li>
          <a href="{% url "menu:specialization-detail" pk=specialization.id %} ">{{ specialization.specialization_name }}</a>
        </li>
      {% endfor %}
    {% else %}
      <p>There are no specialization in Restaurant.</p>
    {% endif %}
    </ul>
  </div>
{% endblock %}
